/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margins and padding from everything. */
* {
  margin: 0;
  padding: 0;
}

/* 3. Allow percentage-based heights in the application */
html, body {
  height: 100%;
}

/* 4. Add accessible line-height and improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, sans-serif;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.container {
    display: flex;
    flex-direction: row;
    height: 60%;
    justify-content: space-around;
    align-items: center;
}

.btn {
    background-color: green;
    padding: 10px;
    margin: 10px;
    color: white;
    flex: 1;
}

.result {
    display: flex;
    min-height: 40%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
